:root {
  --visited-color: green;
}

.container {
  text-align: center;
}

.app-container {
  display: flex;
  justify-content: space-around;
}

#color-picker {
  margin-top: 5px;
}

#grid-container {
  display: flex;
  max-width: 400px;
  max-height: 400px;
}

.cell {
  border: 1px solid black;
  padding: 1px;
  text-align: center;
  color: white;
}

.visited {
  background-color: var(--visited-color);
  color: var(--visited-color);
}
